.grid.grid-cols-3 {
    grid-template-columns: repeat(3, 1fr);
}

button.p-2 {
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

button.bg-gray-200:hover {
    background-color: #ddd;
}

button.bg-yellow-500 {
    background-color: #f7c200;
}

button.bg-yellow-500:hover {
    background-color: #f5b800;
}
